<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/c5c7fe0e-6d55-4c41-8a1c-065c70fddb44/resourceGroups/IsometricShooter/providers/Microsoft.Web/sites/isometric-shooter-dev-app</ResourceId>
    <ResourceGroup>IsometricShooter</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://isometric-shooter-dev-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1e69c1b3-01b5-42aa-8ed8-c6707dda1169</ProjectGuid>
    <PublishUrl>https://isometric-shooter-dev-app.scm.azurewebsites.net/</PublishUrl>
    <UserName>$isometric-shooter-dev-app</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>