@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Testers!</h1>
    <img src="~/images/Venator.png" alt="Sample Photo" />
    <p>This is our internal backend for eth-main net</p>
    <p><b>Please Note:</b> conversion for eth to USD are being adjusted and you will receive half the intended value</p>
</div>
